$baseColor: #ea0f1e;

@media (min-width: 320px) {
  $defaultTextSizeTo320px: 4.5rem;
  main {
    width: 95%;
    height: 90vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
  }

  .menuHome {
    margin-left: 10%;
  }

  .title {
    font-size: $defaultTextSizeTo320px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s all;
    margin: 1rem 0;

    &:hover {
      margin-left: 10%;
    }
  }

  @keyframes startBlock {
    from {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  .button {
    display: block;
    position: relative;

    font-size: $defaultTextSizeTo320px;
    outline: none;
    color: #fff;
    background: transparent;

    border: none;
    overflow: hidden;
    text-decoration: none;
    padding: 0;
    min-width: 60%;
    cursor: pointer;

    text-align: left;

    // animation: startBlock 0.5s linear;
  }

  .button span {
    transition: 0.2s;
    transition-delay: 0.2s;
  }

  .button:before,
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s, opacity 0.8s;
  }

  .button:before {
    content: attr(data-hover);
    transform: translate(-150%, 0);

    color: "red";
  }

  .button:hover span,
  .button:active span {
    opacity: 0;
    transform: scale(0.3);
  }

  .button:hover:before {
    opacity: 1;
    transform: translate(0, 0);

    transition-delay: 0.4s;
    text-align: left;
  }

  .contactPortfolio {
    width: 100%;
  }

  .contactPortfolio {
    color: $baseColor;
  }

  .worksPortfolio {
    color: $baseColor;
  }

  .wrapperEffectsHome {
    min-width: 32rem;
    height: 100vh;

    position: absolute;
  }

  .backgroundEffect {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
  }

  .checkboxSelectLanguage {
    position: absolute;

    right: 5%;
    top: 5%;
    z-index: 999;
  }

  .dropDownMenu {
    color: #fff;
    position: relative;
  }

  .dropdownTitle {
    width: 13rem;

    display: flex;
    align-items: center;

    font-size: 1.3rem;

    transition: 0.2s;

    &:focus {
      color: #ea0f1e;
    }
  }

  .arrowDropDown {
    margin-left: 1rem;
    transform: rotate(-90deg);
    font-size: 1.3rem;

    transition: 0.2s all ease;
  }

  .selectionCurrentLanguage {
    transition: 0.2s;
    position: absolute;
    top: 5%;
    right: 5%;

    cursor: pointer;

    &:hover {
      color: #ea0f1e;

      .arrowDropDown {
        transition: 0.2s all ease;

        transform: rotate(90deg);
      }
    }
  }

  .selectionCurrentLanguageActive {
    color: #ea0f1e;

    .arrowDropDown {
      transition: 0.2s all ease;

      transform: rotate(90deg);
    }
  }

  .hiddenMenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 15%;
    margin-top: 2rem;

    padding: 0.3rem;

    z-index: 999;

    transition: 0.2s;
  }

  .hiddenMenuOpen {
    visibility: visible;
    opacity: 1;
  }

  .liItemHidden {
    padding: 0.3rem 0.5rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: #ea0f1e;
    }
  }
}

@media (min-width: 375px) {
  $defaultTextSizeTo375px: 5.4rem;

  .title {
    font-size: $defaultTextSizeTo375px;
  }

  .button {
    font-size: $defaultTextSizeTo375px;
  }

  .wrapperEffectsHome {
    min-width: 37.5rem;
  }

  .hiddenMenu {
    right: 13%;
  }
}

@media (min-width: 425px) {
  $defaultTextSizeTo425px: 6rem;

  .title {
    font-size: $defaultTextSizeTo425px;
  }

  .button {
    font-size: $defaultTextSizeTo425px;
  }

  .wrapperEffectsHome {
    min-width: 42.5rem;
  }

  .hiddenMenu {
    right: 12%;
  }
}

@media (min-width: 768px) {
  $defaultTextSizeTo768px: 8rem;

  .title {
    font-size: $defaultTextSizeTo768px;
  }

  .button {
    width: 110%;
    font-size: $defaultTextSizeTo768px;
  }

  .menuHome {
    margin-left: 7%;
  }

  .selectionCurrentLanguage {
    font-size: 2.4rem;
  }

  .liItemHidden {
    font-size: 1.7rem;
  }

  .dropdownTitle {
    width: 15rem;
  }

  .wrapperEffectsHome {
    min-width: 76.8rem;
  }

  .hiddenMenu {
    margin-top: 2.7rem;
    right: 6%;
  }
}

@media (min-width: 1024px) {
  $defaultTextSizeTo1024px: 10rem;

  .title {
    font-size: $defaultTextSizeTo1024px;
  }

  .button {
    font-size: $defaultTextSizeTo1024px;
  }

  .menuHome {
    margin-left: 15%;
  }

  .selectionCurrentLanguage {
    font-size: 2.6rem;
  }

  .liItemHidden {
    font-size: 1.9rem;
  }

  .dropdownTitle {
    width: 17rem;
  }

  .wrapperEffectsHome {
    min-width: 1024px;
  }

  .hiddenMenu {
    margin-top: 2.9rem;
    right: 5.3%;
  }
}

@media (min-width: 1440px) {
  $defaultTextSizeTo1440px: 12rem;

  .title {
    font-size: $defaultTextSizeTo1440px;
  }

  .button {
    font-size: $defaultTextSizeTo1440px;
  }

  .menuHome {
    margin-left: 14%;
  }

  .selectionCurrentLanguage {
    font-size: 2.6rem;
  }

  .liItemHidden {
    font-size: 1.9rem;
  }

  .dropdownTitle {
    width: 17rem;
  }

  .wrapperEffectsHome {
    min-width: 144rem;
  }

  .hiddenMenu {
    margin-top: 2.9rem;
    right: 5%;
  }
}

@media (min-width: 1920px) {
  $defaultTextSizeTo1920px: 16rem;

  .title {
    font-size: $defaultTextSizeTo1920px;
  }

  .button {
    font-size: $defaultTextSizeTo1920px;
  }

  .menuHome {
    margin-left: 14%;
  }

  .dropdownTitle {
    width: 17rem;
  }

  .wrapperEffectsHome {
    min-width: 192rem;
  }

  .works {
    width: 60rem;

    &:hover {
      width: 85rem;
    }
  }
}
