.wrapperAbout {
  width: 95%;
  margin: 4% auto;

  color: #fff;
}

.wrapperEffectsAbout {
  position: absolute;
  top: 0;
  z-index: 0;

  width: 32rem;
  height: 140vh;
}

.titleAbout {
  font-size: 3rem;
  margin: 10rem 0.5rem 1rem 0.5rem;
  &::first-letter {
    padding-left: 1rem;
  }
}

.decorateNameTech {
  color: #0d42f0;
}

.wrapperDescriptionAbout {
  margin-top: 4rem;

  z-index: 999;

  margin-bottom: 6rem;
}

.descriptionAbout {
  font-size: 1.25rem;
  width: 95%;
  display: block;
  margin: 1rem auto;

  text-align: justify;
  line-height: 130%;

  &::first-letter {
    padding-left: 2rem;
  }
}

.linkToMainPage {
  position: absolute;
  z-index: 999;

  right: 10%;
  top: 10%;

  font-size: 1.6rem;
  margin-right: -2rem;

  color: #fff;
  transition: 0.3s;

  .hiddenPartAboutLink {
    visibility: hidden;
    opacity: 0;
    color: #ea0f1e;
    transition: 0.4s;
  }

  &:hover {
    margin-right: 0;
  }

  &:hover .hiddenPartAboutLink {
    visibility: visible;
    opacity: 1;
  }
}

.techSkills {
  color: #ea0f1e;
}

.conceptColor {
  color: #0d42f0;
}

.resumeLink {
  position: absolute;
  z-index: 999;
  color: #ea0f1e;
  font-weight: 700;
  font-size: 1.5rem;
  left: 10%;
  margin-top: 1rem;
}

.menuIngredients {
  font-size: 1.5rem;
  margin: 3%;
  color: blue;
}

.liItemEducation {
  font-size: 1.5rem;
  color: #fff;
  line-height: 125%;
}

.finishedCoursesMenu {
  counter-reset: orderedlist;
}

.finishedCoursesMenu .liItemEducation::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-family: "Indie Flower", cursive;
}

.liItemEducation::before {
  font-size: 2.4rem;
  line-height: 0.75;
  padding-top: 0.1rem 0.5rem;
  margin: 1rem;
  text-align: center;
  color: red;
  border-radius: 0.25em;
}

.liItemEducation {
  padding: 1rem;
}

.yearsStyleColor {
  color: #0d42f0;
}

.subTitleAbout {
  padding-left: 2rem;
}

@media (min-width: 375px) {
  .wrapperEffectsAbout {
    min-width: 37.5rem;
    min-height: 155vh;
  }

  .descriptionAbout {
    font-size: 1.55rem;
    line-height: 135%;
    margin-top: 1.5rem;
  }

  .linkToMainPage {
    top: 9%;
    font-size: 1.6rem;
  }

  .resumeLink {
    font-size: 1.8rem;
  }

  .subTitleAbout {
    font-size: 1.75rem;
  }
}

@media (min-width: 425px) {
  .linkToMainPage {
    top: 10%;
  }

  .wrapperEffectsAbout {
    min-width: 42.5rem;
  }

  .titleAbout {
    font-size: 3.5rem;
    width: 105%;
  }

  .descriptionAbout {
    font-size: 1.75rem;
    line-height: 135%;

    margin-top: 1.5rem;
  }

  .resumeLink {
    font-size: 2rem;
  }

  .subTitleAbout {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .wrapperEffectsAbout {
    min-width: 76.8rem;
    min-height: 170vh;
  }

  .titleAbout {
    font-size: 5rem;

    width: 90%;
    padding-left: 5%;

    &::first-letter {
      padding-left: 3.5rem;
    }
  }

  .descriptionAbout {
    font-size: 2.3rem;

    &::first-letter {
      padding-left: 2rem;
    }
  }

  .resumeLink {
    font-size: 2.5rem;
  }

  .subTitleAbout {
    margin: 1rem;
    margin-top: 3%;
    font-size: 2.5rem;
  }

  .liItemEducation {
    font-size: 1.75rem;
    padding-left: 3rem;
  }
}

@media (min-width: 1024px) {
  .wrapperEffectsAbout {
    min-width: 1024px;
    min-height: 190vh;
  }

  .titleAbout {
    font-size: 6rem;
    padding-left: 5%;

    &::first-letter {
      padding-left: 4.5rem;
    }
  }

  .descriptionAbout {
    font-size: 2.9rem;

    &::first-letter {
      padding-left: 3rem;
    }
  }

  .linkToMainPage {
    font-size: 2rem;
  }

  .subTitleAbout {
    margin: 1rem;
    margin-top: 4%;
    font-size: 2.5rem;
  }

  .liItemEducation {
    font-size: 2rem;
    padding-left: 3rem;
  }
}

@media (min-width: 1440px) {
  .wrapperEffectsAbout {
    min-width: 144rem;
    min-height: 190vh;
  }

  .titleAbout {
    font-size: 8rem;
    padding-left: 5%;

    &::first-letter {
      padding-left: 4.5rem;
    }
  }

  .descriptionAbout {
    font-size: 2.5rem;
    margin-top: 2.5rem;

    &::first-letter {
      padding-left: 5rem;
    }
  }

  .linkToMainPage {
    font-size: 2rem;
  }

  .resumeLink {
    font-size: 3rem;
  }

  .subTitleAbout {
    margin: 1rem;
    margin-top: 5%;
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  .wrapperEffectsAbout {
    width: 190rem;
    min-height: 170vh;
  }

  .titleAbout {
    font-size: 10rem;
    padding-left: 5%;

    margin-top: 8%;
    margin-bottom: 5%;

    &::first-letter {
      padding-left: 8.5rem;
    }
  }

  .descriptionAbout {
    font-size: 3.5rem;
    margin-top: 3.5rem;
    width: 85%;

    &::first-letter {
      padding-left: 5rem;
    }
  }

  .linkToMainPage {
    font-size: 3rem;
  }

  .wrapperAbout {
    width: 100%;
    overflow: hidden;
  }

  .subTitleAbout {
    margin: 0;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 5rem;
  }

  .liItemEducation {
    font-size: 3rem;
    padding-left: 4%;
  }

  .liItemEducation::before {
    font-size: 5rem;
    padding-right: 1.5rem;
  }
}
